.header {
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    background: #006EA0;
    color: white;
    padding: 0 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.header .title {
    flex-grow: 1;
    font-size: 2em;
}

.header input {
    width: 300px;
}
