.table-container {
    border-radius: 4px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 16px;
}

table th {
    font-size: 1.1em;
}

table td:first-child {
    font-weight: bold;
}

table tr:hover {
    background-color: #dedfdf;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3d3d3d;
    color: white;
}
