table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid black;
    padding: 8px;
    font-size: 16px;
}

table th {
    font-size: 18px;
}

/* table tr:nth-child(even) {
} */

table tr:hover {
    background-color: #dedfdf;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0079cd;
    color: black;
}
