.table-container {
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 16px;
}

table th {
    font-size: 1.1em;
}

table td:first-child {
    font-weight: bold;
}

table tr:hover {
    background-color: #dedfdf;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #006EA0;
    color: white;
}
